html {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin:0px;
    padding:0px;
}

body {
    padding: 0px;

    overflow-x: hidden;
    background-color: black;
        line-height: 45px;
}

img {
    width: 100%;

}

@font-face {
    font-family: 'swiss_721black_extend';
    src: url('fonts/swiss_721_black_extended-webfont.eot');
    src: url('fonts/swiss_721_black_extended-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/swiss_721_black_extended-webfont.woff2') format('woff2'), url('fonts/swiss_721_black_extended-webfont.woff') format('woff'), url('fonts/swiss_721_black_extended-webfont.ttf') format('truetype'), url('fonts/swiss_721_black_extended-webfont.svg#swiss_721black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'swiss_721bold';
    src: url('fonts/swiss_721_bold_outline-webfont.eot');
    src: url('fonts/swiss_721_bold_outline-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/swiss_721_bold_outline-webfont.woff2') format('woff2'), url('fonts/swiss_721_bold_outline-webfont.woff') format('woff'), url('fonts/swiss_721_bold_outline-webfont.ttf') format('truetype'), url('fonts/swiss_721_bold_outline-webfont.svg#swiss_721bold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'swiss_721black_outline';
    src: url('fonts/swiss_721_black_outline-webfont.eot');
    src: url('fonts/swiss_721_black_outline-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/swiss_721_black_outline-webfont.woff2') format('woff2'), url('fonts/swiss_721_black_outline-webfont.woff') format('woff'), url('fonts/swiss_721_black_outline-webfont.ttf') format('truetype'), url('fonts/swiss_721_black_outline-webfont.svg#swiss_721black') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'swiss_721black';
    src: url('fonts/swiss_721_black-webfont.eot');
    src: url('fonts/swiss_721_black-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/swiss_721_black-webfont.woff2') format('woff2'), url('fonts/swiss_721_black-webfont.woff') format('woff'), url('fonts/swiss_721_black-webfont.ttf') format('truetype'), url('fonts/swiss_721_black-webfont.svg#swiss_721black') format('svg');
    font-weight: normal;
    font-style: normal;
}

.container {
    padding: 0;
    margin: 0;
    font-family: 'swiss_721black_extend', 'Helvetica Neue', Arial, sans-serif;
       color:Bisque;
    text-transform: uppercase;
    letter-spacing: -4px;
}

.line {
    font-size: 100px;
    line-height: 100px;
    display: inline-block;
    position: relative;
    margin: 2px 0px 0px 0px;
    float: left;
    overflow: visible;

}

.bloc:hover .line{
    color: white;
}

.bloc {
    display: inline-block;
    position: relative;
}

.gauche {
    float: left;
}

.droite {
    float: right;
}

.outline {
    font-size: 100px;
    line-height: 100px;
    font-family: 'swiss_721bold', 'Helvetica Neue', Arial, sans-serif;
    margin: -2px -3px 0px 0px;
            border: black solid 2px;
    border-bottom: 2px solid Bisque;
    border-top: 2px solid Bisque;
    background-color: black;
}

.bloc:hover .outline{
    color:salmon;
        border: salmon solid 2px;

}


.image {
    margin: 0 auto;
    margin-top:2px;
    height: 100px;
    overflow: visible;
    width: auto;

    overflow:visible;
    position: relative;

}

.logo {
    height: 100%;
    overflow: visible;
    padding: 20px 10px 5px 10px;
margin:0px 0px;
  width: auto;

}

.piece {


    height: 140px;
    background: transparent;
    margin: -20px -15px -20px -15px;
    width: auto;
    padding: 0px;
    transform: rotate(23deg);
}

.piece_2 {
    background: transparent;
    height: 190px;
    width: auto;
    padding: 0px;
    margin: -50px 0 -120px 0;
    transform: rotate(43deg);
}

.piece_3 {
    background: transparent;
    height: 125px;
    width: auto;
    padding: 0px;
    margin: -15px 0 -0px 0;
    transform: rotate(0deg);
}

.standart {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size:39px;
    line-height: 50px;
    letter-spacing: 3px;

    display: inline-block;
    text-align: center;
    padding-top: 0px;
    margin: 0px 0px;
}

.standart_2 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 2px;
    min-height:100px;
    border: 2px solid Bisque;
    display: inline-block;
    text-align: center;
    margin: -2px 0px;


}


.standart_3 {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 2px;
    height:100px;
    border: 0px solid Bisque;
    display: inline-block;
    text-align: center;


}

.abs {
    position: absolute;
    transform: rotate(-90deg);
    top: 0px;
    left: 15px;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    border: solid 2px Bisque;
    font-size:42px;
    color: Bisque;
    display: inline;

    
}



a:hover {
    text-decoration: none;
border: salmon solid 2px;
    border-left: solid 2px transparent;
      border-right: solid 2px transparent;
    color: Bisque;

}

header{
    width:100%;
    padding:20px;
}
header span:after{
    clear: both;
}

.lines {
    width: auto;
    display: block;
    border-bottom: 2px solid Bisque;
}


footer{
    display: block;
    min-width: 100%;
}

hr{
    clear:both;
    visibility: hidden;
}
